html body {
    background-color: #252525;
    color: aliceblue;
}

.modal-content{
    background-color: #252525 !important;
}

.container-size{
    height: 80vh;
    overflow: auto;
}
.text-info-iron {
    color: #66eeff !important;
}


.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	background-color: #F5E5E5;
}

.style-3::-webkit-scrollbar
{
	width: 10px;
	background-color: #252525;
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #454040;
    border-radius: 10px;
}